USE [master]
GO
/****** Object:  Database [formm]    Script Date: 14/04/2025 15:33:09 ******/
CREATE DATABASE [formm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'formm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\formm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'formm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\formm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [formm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [formm]
GO
/****** Object:  Table [dbo].[baglanti]    Script Date: 14/04/2025 15:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baglanti](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[web] [varchar](50) NULL,
	[phone] [int] NULL,
	[address] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
